<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RocketLeagueMapCopier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RocketLeagueMapCopier.Properties.Settings>
            <setting name="mapDir" serializeAs="String">
                <value>C:\UDK\UDKGame\Content\Maps\</value>
            </setting>
            <setting name="modsDir" serializeAs="String">
                <value>E:\Steam Games\steamapps\common\rocketleague\TAGame\CookedPCConsole\mods\</value>
            </setting>
            <setting name="mapName" serializeAs="String">
                <value />
            </setting>
            <setting name="packageName1" serializeAs="String">
                <value />
            </setting>
            <setting name="packageName2" serializeAs="String">
                <value />
            </setting>
            <setting name="packageName3" serializeAs="String">
                <value />
            </setting>
            <setting name="packageName4" serializeAs="String">
                <value />
            </setting>
            <setting name="packageName5" serializeAs="String">
                <value />
            </setting>
        </RocketLeagueMapCopier.Properties.Settings>
    </userSettings>
</configuration>